
/*======================================== config =================================*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, p,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none !important;
}

a {
  text-decoration: none;
  transition: .3s all !important;
  line-height: normal;
  color: #012934;
  &:hover, &:focus {
    color: red;
    text-decoration: none;
  }
}

button, input[type="submit"]  {
  cursor: pointer;
  outline: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

body {
  background: #f8fafc;
  color: #000000;
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
  @media (max-width: 1023px) {
    font-size: 14px;
  }
  &.active-hidden {
    overflow: hidden;
  }
  img {
    transition: .34s all !important;
    max-width: 100%;
    display: inline !important;
  }
  h1, h2, h3, h4, h5 h6 {
    line-height: 1.25 !important;
  }
}

/*======================================== end config =================================*/
